<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>


    {% for message in messages %}
    <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}


    <h3>Hey i am in</h3>



    {% if user.is_authenticated %}
    <h1>Hello {{fname}}</h1>
    <h4>You are Seccessully logg in</h4>
    <button type="submit"><a href="/signout">Signout</a> </button>
    {% else %}
    <button type="submit"> <a href="/signup">Signup</a></button>
    <button type="submit"><a href="/signin">Signin</a></button>
    {% endif %}


   
</body>
</html>