<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>
        {% for message in messages %}
        <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    <h2>htht</h2>

    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Your Username" required>
        <br>

        <label for="">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
        <br>

        <button type="submit">Sign In</button>

    </form>



</body>

</html>